<div class="sidenav">
    <div class="login-main-text">
        <h1 style="font-size: 3.5rem;">BIENVENUE<br> SUR RICVA</h1>
        <p style="font-size: 1.5rem;">RICVA est une platforme de suivi et de gestion du secteur agricole, de la production a la vente en passant par le financement</p>
    </div>
</div>
<div class="main">
    <div class="col-md-12 col-sm-12">
        <div class="login-form">
            <form>
                <div class="mb-3">
                    <h4 class="text-dark text-muted">Register</h4>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="email">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="password">
                </div>
                <button type="button" class="btn btn-info" (click)="register()">Register</button>
                <div class="row">
                    <div class="col-md-6">
                        <a href="/login" style="text-decoration: none;">Deja un compte ? <span class="text-danger">Connexion</span></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>