<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-3">
            <button type="button" class="btn btn-outline-danger" (click)="signOut()">Logout</button>

            <a href="/create-entrepot" class="btn btn-outline-info" style="margin-left: 10px">Creer un entrepot</a>
        </div>
        <div class="col-md-12 mt-5">
            <h5 class="text-danger">Liste des Entrepots</h5>
            <div class="card p-3 shadow">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Libelle</th>
                                <th scope="col">Superficie (M<sup>2</sup>)</th>
                                <th scope="col">placer</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let entrepot of entrepotsList">
                                <td>{{entrepot.libelle}}</td>
                                <td>{{entrepot.superficie}} (m2)</td>
                                <td>{{entrepot.placer}}</td>
                                <td>
                                    <button type="button" class="btn btn-outline-danger" (click)="deleteEntrepot(entrepot, entrepot.id)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>