<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-12 mt-3">
            <a href="/dashboard" class="btn btn-outline-info" style="margin-left: 10px">Liste des entrepots</a>
        </div>
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Creer un entrepot</h4>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="libelle" name="libelle" [(ngModel)]="libelle">
                            <label for="libelle">Libelle</label>
                        </div>
                        <div class="form-floating mb-3 ">
                            <input type="number" class="form-control" id="superficie" name="superficie" [(ngModel)]="superficie">
                            <label for="superficie">Superficie (M<sup>2</sup>)</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="placer" name="placer" [(ngModel)]="placer">
                            <label for="placer">Placer</label>
                        </div>
                        <div class="form-floating mb-3 ">
                            <input type="text" class="form-control" id="longitude" name="longitude" [(ngModel)]="longitude">
                            <label for="longitude">Longitude</label>
                        </div>
                        <div class="form-floating mb-3 ">
                            <input type="text" class="form-control" id="latitude" name="latitude" [(ngModel)]="latitude">
                            <label for="latitude">Latitude</label>
                        </div>
            
                        <button type="button" class="btn btn-info" (click)="addEntrepot()">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>